---
import { getCollection } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Link from '@/components/Link.astro'
import { siteMeta } from '@/consts'

// 获取所有 Markdown 文件
const allPosts = await getCollection('post')

// 按年份分类和排序
const postByYear = allPosts.reduce((acc, post) => {
  const year = post.data.pubDate.getFullYear() // 假设你在 Markdown 文件中有日期字段
  if (!acc[year]) {
    acc[year] = []
  }
  acc[year].push(post)
  return acc
}, {})

// 将年份排序，从新到旧
const sortedYears = Object.keys(postByYear).sort((a, b) => b - a)
---

<BaseLayout title={siteMeta.title} description={siteMeta.description}>
  <section>
    <ul class="max-w-2xl mx-auto">
      {
        sortedYears.map((year) => (
          <li class="relative p-6">
            <span class="absolute right-5 top-2 text-8xl stroke-[2px] opacity-10">
              {year}
            </span>
            <ul class="list-none mt-10">
              {postByYear[year].slice(0, 6).map((post) => (
                <Link
                  className="item block font-normal mb-6 mt-2 no-underline"
                  href={`/post/${post.slug}`}
                >
                  {post.data.title}
                </Link>
              ))}
            </ul>
            <Link
              className="my-2 underline decoration-gray-300 dark:decoration-gray-700 hover:decoration-black dark:hover:decoration-white transform-all"
              href={`/blog/${year}`}
            >
              More...
            </Link>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
