---
import type { MarkdownHeading } from 'astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Content from '@/components/Content.astro'
import MarkdownHeader from '@/lib/MarkdownHeader'
import { siteMeta } from '@/consts'

// type Props = CollectionEntry<'post'>['data']

type Props = {
  title: string
  description: string
  heroImage: string
  heroImageAlt: string
  headings: MarkdownHeading[]
  initialStatus: boolean
}

const { title, description, headings } = Astro.props
---

<BaseLayout title={title + ` / ${siteMeta.title}`} description={description}>
  <Content
    className="border border-zinc-950 dark:border-zinc-50 pt-6 bg-white dark:bg-black rounded-md markdown-body"
  >
    <h1 class="text-3xl my-1 font-roto">{title}</h1>
    <div>{description}</div>
    <hr class="border-top border-zinc-400 my-4" />
    <slot />
  </Content>

  <header class="fixed bottom-4 right-4 header-hover-show">
    <div class="hidden md:block">
      <MarkdownHeader client:load headings={headings} initialStatus={true} />
    </div>
    <div class="block md:hidden">
      <MarkdownHeader client:load headings={headings} initialStatus={false} />
    </div>
  </header>

  <style is:global>
    main article.markdown-body {
      ul {
        @apply list-disc list-inside pl-4 mb-4;
      }
      h1,
      h2,
      h3,
      h4,
      h5 {
        @apply font-bold font-roto;
      }
      h1 {
        @apply text-4xl;
      }
      h2 {
        @apply text-2xl;
      }
      h3 {
        @apply text-xl;
      }
      h4 {
        @apply text-lg;
      }
      img {
        @apply border border-slate-300 dark:border-zinc-700 rounded-xl mb-6;
      }
      p {
        @apply mb-6 text-zinc-900 dark:text-zinc-100;
      }
      a {
        @apply underline underline-offset-2 text-black font-semibold decoration-zinc-400 hover:decoration-zinc-950 transition-all;
      }
    }
  </style>
</BaseLayout>
