---
import { getCollection } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Link from '@/components/Link.astro'

const allPosts = await getCollection('post')
const { year } = Astro.props

const postsForYear = allPosts.filter((post) => {
  return post.data.pubDate.getFullYear().toString() === year
})
---

<BaseLayout
  title={`Posts from ${year}`}
  description={`All posts from the year ${year}`}
>
  <div class="max-w-2xl mx-auto">
    <span
      class="absolute right-[-3rem] top-[-2rem] text-8xl stroke-[2px] opacity-10"
    >
      {year}
    </span>
    <ul class="list-none p-0">
      {
        postsForYear.map((post) => (
          <li key={post.slug} class="my-2">
            <Link href={`/post/${post.slug}`}>{post.data.title}</Link>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
