---
import { Image } from '@astrojs/image/components'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Content from '@/components/Content.astro'
import Location from '@/components/Location.astro'
import { formattedDate } from '@/components/FormattedDate'
import { siteMeta } from '@/consts'

interface Props {
  url: string
  category: string
  frontmatter: {
    heroImage?: string
    title: string
    description: string
    pubDate: number
    tags: string[]
  }
}

const { category } = Astro.props

const posts = (await Astro.glob('../pages/posts/*.md'))
  .sort(
    (a: Props, b: Props) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .filter((item: any): Props[] => item.frontmatter.tags.includes(category))
---

<BaseLayout
  title={category + ` / ${siteMeta.title}`}
  description={siteMeta.description}
>
  <Content>
    <Location>{category}</Location>
    <section>
      <ul class="grid grid-cols-1 md:grid-cols-1 gap-4">
        {
          posts.map(post => (
            <li
              class="
                    text-center
                    p-4
                    mb-4
                    border
                    border-zinc-200
                    dark:border-zinc-900
                    hover:bg-zinc-50
                    dark:hover:bg-zinc-950
                    hover:border-zinc-800
                    dark:hover:border-zinc-200
                    bg-white
                    dark:bg-black
                    rounded-xl
                  "
            >
              <a href={post.url}>
                {post.frontmatter.heroImage && (
                  <Image
                    class="border-2 border-zinc-950 dark:border-white rounded-xl"
                    src={post.frontmatter.heroImage}
                    width={720 * 2}
                    aspectRatio={2.0}
                    alt="Thumbnail"
                  />
                )}
                <div class="mt-3 text-xl font-bold">
                  {post.frontmatter.title}
                </div>

                <div>{post.frontmatter.description}</div>
                <div class="underline underline-offset-2">
                  {formattedDate(post.frontmatter.pubDate)}
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </Content>
</BaseLayout>
