---

import {MarkdownInstance} from 'astro';
import type {MarkdownPostFrontmatter} from '../types';
import {formatDate} from '../utils';
import Base from '../layouts/Base.astro';

let posts = (await Astro.glob<MarkdownPostFrontmatter>('./posts/*.md'))

type Post = MarkdownInstance<MarkdownPostFrontmatter>;

posts = posts.sort((a: Post, b: Post):number => {
if(a.frontmatter.date > b.frontmatter.date) {
    return -1;
  }
  if(b.frontmatter.date > a.frontmatter.date) {
    return 1
    };
    return 0
})
---

<Base title="day think">
<h1 class="mb-8 text-6xl">Think</h1>

<div>
  {posts.map((post) => (
      <div class="py-4 border-b first:border-t">
        {post.frontmatter.draft &&
         <p class="bg-red-800 text-white inline-block px-2 mb-4">draft</p>}
        <p class="">{formatDate(post.frontmatter.date)}</p>
        <a href={post.url}>{post.frontmatter.title}</a>
      </div>
  ))}
</div>

</Base>

