---
import { type CollectionEntry, getCollection } from 'astro:content'
import MarkdownLayout from '@/layouts/MarkdownLayout.astro'
import Container from '@/components/Container.astro'
import TOC from '@/components/TOC.astro'
import BackToTopButton from '@/components/BackToTopButton.astro'
import TocMenu from '@/components/TocMenu.astro'
import '@/styles/prism.css'

export const getStaticPaths = async () => {
  const posts = (await getCollection('blog'))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())

  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: { blog: post },
  }))
}

type Props = {
  blog: CollectionEntry<'blog'>
  category: string
}

const { blog } = Astro.props
const { Content, headings } = await blog.render()

const description =
  blog.data.description || blog.body.slice(0, 30).replace(/\n/g, '')

const toc = headings.filter(
  (heading) =>
    heading.depth <= 3 &&
    !(heading.slug === 'footnote-label' && heading.text === 'Footnotes'),
)
---

<MarkdownLayout title={blog} description={description}>
  <Container className="flex px-5 markdown-body">
    <div class="md:w-4/6 space-y-4 p-4">
      <h1 class="flex text-3xl font-roto font-bold my-1 items-center">
        {blog.data.title}
        <div class="block md:hidden">
          <div class="inline-flex transform -translate-y-4 ml-2">
            {toc.length > 0 && <TocMenu headings={headings} />}
          </div>
        </div>
      </h1>

      <hr class="border-top lineColor my-4" />
      <Content />
      <hr class="border-top lineColor my-4" />
      <BackToTopButton />
    </div>
    <div class="md:w-2/6 space-y-4 p-4">
      <div class="hidden sm:block">
        <aside
          class="fixed xl:col-span-3 xl:flex xl:flex-col xl:sticky xl:top-28 gap-y-6 overflow-y-auto max-h-96"
        >
          <ol class="list-none pl-0 my-0 ml-1 relative bg-transparent">
            {toc.length > 0 && <TOC headings={headings} />}
          </ol>
        </aside>
      </div>
    </div>
  </Container>
</MarkdownLayout>
