---
import BlogLink from '@/lib/BlogLink'
import BlogLinkMore from '@/lib/BlogLinkMore'
import PostYear from '@/lib/PostYear'
import Content from '@/components/Content.astro'
import Masthead from '@/components/Masthead.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { siteMeta } from '@/consts'
import { postsByYear, sortedYears } from '@/lib/post'
---

<BaseLayout title={siteMeta.title} description={siteMeta.description}>
  <Masthead />
  <Content>
    <section>
      {
        sortedYears.map((year) => (
          <ul key={year}>
            <PostYear postYear={year} />
            <BlogLink posts={postsByYear[year].slice(0, 6)} />
            <BlogLinkMore yearMore={year} />
          </ul>
        ))
      }
    </section>
  </Content>
</BaseLayout>
