---
import { type CollectionEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Container from '@/components/Container.astro'
import Header from '@/components/Header.astro'
import ArrowCard from '@/components/ArrowCard.astro'
import { allPosts } from '@/lib/utils/post'
import { siteMeta } from '@/consts'

type YearGroup = {
  year: string
  posts: CollectionEntry<'blog'>[]
}

const posts = allPosts
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())

// 优化后的年份分组逻辑
const groupedYears = posts.reduce((acc, post) => {
  const year = post.data.pubDate.getFullYear().toString()
  acc.set(year, [...(acc.get(year) || []), post])
  return acc
}, new Map<string, CollectionEntry<'blog'>[]>())

// 转换为排序后的数组
const sortedYears: YearGroup[] = Array.from(groupedYears)
  .sort(([a], [b]) => Number(b) - Number(a)) // 年份降序
  .map(([year, posts]) => ({ year, posts }))
---

<BaseLayout title={`${siteMeta.title}`} description={siteMeta.description}>
  <Header />
  <main class="pt-[56px]">
    <Container>
      {
        sortedYears.map(({ year, posts }) => (
          <section class="space-y-10 mb-20">
            <div class="border-primary">
              <h2 class="text-4xl md:text-6xl font-bold mb-8">
                <a href={`/year/${year}`}>{year}</a>
              </h2>
            </div>
            <ul class="grid gap-8 p-2">
              {posts.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))}
            </ul>
          </section>
        ))
      }
    </Container>
  </main>
</BaseLayout>
