---
import GlobalHead from '@/components/GlobalHead.astro'
import BaseLayout from '@/layouts/Base.astro'
import { siteMeta } from '@/consts'
import TagsLink from '@/components/TagsLink'

const allPosts = await Astro.glob('../content/post/*.md')
const allTags = new Set<string>()
allPosts.map(post => {
  post.frontmatter.tags &&
    post.frontmatter.tags.map((tag: string) => allTags.add(tag))
})
const sortedTags = Array.from(allTags).sort((a, b) =>
  a.localeCompare(b, 'en', { sensitivity: 'base' })
)
---

<html lang="en">
  <head>
    <GlobalHead title={siteMeta.title} description={siteMeta.description} />
  </head>
  <BaseLayout title={siteMeta.title} description={siteMeta.description}>
    <section>
      <div
        class="flex flex-wrap p-4 gap-5 bg-white dark:bg-zinc-950 border-2 border-zinc-950 dark:border-zinc-50 rounded-md"
      >
        <TagsLink tags={sortedTags} />
      </div>
    </section>
  </BaseLayout>
</html>
