---
import { siteMeta } from '@/consts'
import BaseLayout from '@/layouts/Base.astro'
import Header from '@/components/Header.astro'
import Body from '@/test/components/Body.astro'
import Content from '@/test/components/Content.astro'
import GlobalHead from '@/test/components/GlobalHead.astro'
import { formattedDate } from '@/test/components/FormattedDate'
import Footer from '@/test/components/Footer.astro'

const posts = (await Astro.glob('../../content/post/*.md')).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <GlobalHead title={siteMeta.title} description={siteMeta.description} />
  </head>
  <Body>
    <Header title={siteMeta.title} />
    <main class="pt-[56px]">
      <Content>
        <section>
          <p
            class="mb-8 indent-4 p-4 bg-white dark:bg-zinc-950 border border-zinc-200 dark:border-zinc-900"
          >
            As an indie developer, I&apos;ve been spending hours and hours at my
            desk every day. So, I&apos;ve been continuously improving my
            workspace in order to boost my productivity. Whenever I upload new
            content, people ask me what tools I use. So, here is a living
            snapshot and a place to point curious developers to when I get
            asked. Most of the links are amazon affiliate links, so I&apos;ll
            get filthy rich if you click them and buy something.
          </p>
        </section>
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              posts.map(post => (
                <li
                  class="
                    text-center
                    p-4
                    mb-4
                    border
                    border-zinc-200
                    dark:border-zinc-900
                    hover:bg-zinc-50
                    dark:hover:bg-zinc-950
                    hover:border-zinc-800
                    dark:hover:border-zinc-200
                    bg-white
                    dark:bg-black
                    rounded-xl
                "
                >
                  <a href={post.url}>
                    {post.frontmatter.heroImage && (
                      <Image
                        class="border-2 border-zinc-950 dark:border-white rounded-xl"
                        src={post.frontmatter.heroImage}
                        width={720 * 2}
                        aspectRatio={2.0}
                        alt="Thumbnail"
                      />
                    )}
                    {post.frontmatter.title}
                    <div>{post.frontmatter.description}</div>
                    <div class="underline underline-offset-2">
                      {formattedDate(post.frontmatter.pubDate)}
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
