---
import { type CollectionEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Header from '@/components/Header.astro'
import Container from '@/components/Container.astro'
import ArrowCard from '@/components/ArrowCard.astro'
import TagsArrowCard from '@/components/TagsArrowCard.astro'
import { getProcessedPosts } from '@/lib/utils/post'
import { siteMeta } from '@/consts'
import "@/styles/app.css";

export async function getStaticPaths() {
  const processedPosts = getProcessedPosts()

  const tagMap = processedPosts.reduce((acc, post) => {
    post.data.tags?.forEach((tag) => {
      acc.set(tag, [...(acc.get(tag) || []), post])
    })
    return acc
  }, new Map<string, CollectionEntry<'blog'>[]>())

  return Array.from(tagMap).map(([tag, posts]) => ({
    params: { tag },
    props: {
      tagName: tag,
      posts,
    },
  }))
}

const { posts, tagName } = Astro.props
---

<BaseLayout
  title={`${tagName} - ${siteMeta.title}`}
  description={`${tagName} | ${siteMeta.description}`}
>
  <Header />
  <main class="pt-[56px]">
    <Container>
      <TagsArrowCard />
      <hr class="dashed border-top border-gray-300 dark:border-gray-700 my-4" />
      <section class="space-y-10 mb-20">
        <ul class="grid gap-8 p-2">
          {posts.map((post) => <ArrowCard entry={post} />)}
        </ul>
      </section>
    </Container>
  </main>
</BaseLayout>
