---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Content from '@/components/Content.astro'
import PostList from '@/components/PostList.astro'
import { allPosts } from '@/lib/post'
import { siteMeta } from '@/consts'
import '@/styles/prism.css'

export interface Props {
  tags?: string[] | undefined
  category: CollectionEntry<'post'>
  date: string
}

interface PostProps {
  data: {
    title: string
    description: string
    pubDate: string | Date
  }
}

// 从 Astro.props 中解构出 category
const { category } = Astro.props

// 筛选符合指定类别的文章
const categoryPosts = allPosts
  .filter(
    (item: PostProps) =>
      Array.isArray(item.data.tags) && item.data.tags.includes(category),
  )
  .sort(
    (a: PostProps, b: PostProps) =>
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
  )

// 文章按年份分组，展示全部文章
const postsByYear = categoryPosts.reduce(
  (acc: Record<number, typeof categoryPosts>, post) => {
    const year = new Date(post.data.pubDate).getFullYear() // 提取年份

    if (!acc[year]) acc[year] = []  // 如果该年份不存在，则初始化为空数组
    acc[year].push(post) // 将文章添加到相应年份的数组中
    return acc // 返回累积器
  }, {},
)

const sortedTags = Object.entries(postsByYear).sort(
  ([yearA], [yearB]) => Number(yearB) - Number(yearA),
) // 按年份排序
---

<BaseLayout
  title={`${category} / ${siteMeta.title}`}
  description={siteMeta.description}
  categoryLocation={category.slug}
>
  <Content>
    <section>
      {
        sortedTags.map(([year, posts]: [string, PostProps[]]) => (
          <PostList
            update={year}
            categoryList={posts}
            yearLinkLocation={`/section/${year}`}
            yearFontSize={false}
          />
        ))
      }
    </section>
  </Content>
</BaseLayout>
