---
import Header from '../components/Header.astro';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import GlobalHead from '../components/globalHead.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import BackHome from '../components/BackHome.astro';

const dayMd = (await Astro.glob('./post/day/*.md')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
<head>
  <GlobalHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<Body>
  <Header title={SITE_TITLE} />
    <Content>
      <section class="flex ">
      <main class="pt-[56px]">
        <ul class="flex list-none">
          {
             dayMd.map(postDay =>
              <li class="flex mb-4 ">
                <a class="px-3 py-2 rounded-md text-sm font-medium" href={postDay.url}>
                  <div class="py-3 text-left">
                    {postDay.frontmatter.pubDate}
                  </div>
                  <div class="mt-3 text-xl font-bold">
                    {postDay.frontmatter.title}
                  </div>
                  {postDay.frontmatter.description && (
                    <div class="flex">
                      {postDay.frontmatter.description}
                    </div>
                  )}
                </a>
              </li>
            )
          }
        </ul>
      </main>
      </section>
    </Content>
  <BackHome />
  <Footer />
</Body>
</html>

<style>
			ul li :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
</style>
