---
import { getCollection, type CollectionEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Content from '@/components/Content.astro'
import Location from '@/components/Location.astro'
import PostList from '@/components/PostList.astro'
import { siteMeta } from '@/consts'
import '@/styles/prism.css'

const allPosts = await getCollection('post')

const postsByYear = Object.keys(
  allPosts.reduce((acc, post) => {
    const year = new Date(post.data.pubDate).getFullYear() // 提取年份

    // 如果该年份不存在，则初始化为空数组
    if (!acc[year]) acc[year] = []

    // 将文章添加到相应年份的数组中
    acc[year].push(post)

    return acc // 返回累积器
  }, {}),
).sort((a, b) => parseInt(b) - parseInt(a))
---

<BaseLayout title={siteMeta.title} description={siteMeta.description}>
  <Content>
    <section>
      {
        postsByYear.map((year) => (
          <PostList
            update={year}
            yearLinkLocation={`/section/${year}`}
            limit={false}
          />
        ))
      }
    </section>
  </Content>
</BaseLayout>
