---
import Header from '../components/Header.astro';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import GlobalHead from '../components/globalHead.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../consts';
import BackHome from '../components/BackHome.astro';
import FormattedDate from '../components/FormattedDate.astro';

const thinkMd = (await Astro.glob('./post/think/*.md')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
<head>
  <GlobalHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<Body>
  <Header title={SITE_TITLE} />
    <Content>
      <section class="flex justify-between items-center px-4 py-3">
      <main class="pt-[56px]">
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              thinkMd.map(postThink =>
                  <div class="px-3.5">
                    {postThink.frontmatter.pubDate}
                  </div>
                  <a class="" href={postThink.url}>
                    <div class="">
                      {postThink.frontmatter.title}
                    </div>
                  </a>
              )
            }
          </ul>
      </main>
      </section>
    </Content>
  <BackHome />
  <Footer />
</Body>
</html>
