---
import {MarkdownLayoutProps} from 'astro';
import type { MarkdownPostFrontmatter } from '../types';
import {formatDate} from '../utils';
import Base from './Base.astro';

type Props = MarkdownLayoutProps<MarkdownPostFrontmatter>

const {title, date, draft, tags} = Astro.props.frontmatter;

---

<Base title="markdown post">
  <div class="mb-8">
    {draft &&
      <p class="bg-red-800 text-white inline-block px-2 mb-4">draft</p> }
    {tags &&
      <div class="mb-2">
    {
      tags.map((tag: string) => {
        {<a href={'/categoryposts/tag/${tag.toLocaleLowerCase()}'}></a>}
    })}
  </div>
    <h1 class="text-3xl mb-2">{title}</h1>
    <p>{formatDate(date)}</p>
  </div>

  <div class="prose">
    <slot />
  </div>
</Base>
