---
import type { CollectionEntry } from 'astro:content'
import Link from '@/components/Link.astro'

type Props = {
  entry: CollectionEntry<'blog'>
}

// 阅读时间计算
const readingTime = (word: string) => {
  const textOnly = word.replace(/<[^>]+>/g, '')
  const words = textOnly.split(/\s+/).length
  const readingTimeMinutes = (words / 200 + 1).toFixed() // 平均阅读速度
  return `${readingTimeMinutes} min read`
}

const { entry } = Astro.props
---

<div class="flex items-center justify-between space-x-4">
  <!-- 左侧内容 (标题、日期、阅读时间) -->
  <div class="flex flex-col md:flex-row md:items-center truncate">
    <Link href={`/${entry.collection}/${entry.slug}`}>
      <span class="font-medium text-lg truncate">{entry.data.title}</span>
    </Link>
    <div
      class="secColor flex md:flex-row space-x-2 text-sm mt-1 md:mt-0 md:ml-4"
    >
      <span>
        {
          entry.data.pubDate.toLocaleDateString('en-US', {
            month: 'short',
            day: '2-digit',
          })
        }
      </span>
      <span>· {readingTime(entry.body)} Min</span>
    </div>
  </div>
</div>
