---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Location from '@/components/Location.astro'
import Content from '@/components/Content.astro'
import BlogLink from '@/lib/BlogLink'
import PostYear from '@/lib/PostYear'
import { postsByYear, sortedYears, allPosts } from '@/lib/post'
import { siteMeta } from '@/consts'
import '@/styles/prism.css'

interface Props {
  data: {
    title: string
    description: string
    pubDate: Date
    heroImage: {
      src: string
      height: number
      width: number
    }
    heroImageAlt: string
  }
  updatedDate?: Date
  tags?: string[]
  category: string
  date: string
}

const { category } = Astro.props

const categoryPosts = allPosts
  .filter(
    (item) =>
      Array.isArray(item.data.tags) && item.data.tags.includes(category),
  )
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
  )
---

<BaseLayout
  title={category + ` / ${siteMeta.title}`}
  description={siteMeta.description}
>
  <Content>
    <Location>{category}</Location>
    <section>
      {
        sortedYears.map((year) => (
          <ul class="relative p-6" key={year}>
            <PostYear postYear={year} />
            <BlogLink posts={postsByYear[year]} />
          </ul>
        ))
      }
    </section>
  </Content>
</BaseLayout>
