---
import Header from '../components/Header.astro';
import Body from '../components/Body.astro';
import Footer from '../components/Footer.astro';
import Content from '../components/Content.astro';
import GlobalHead from '../components/GlobalHead.astro';
import BackHome from '../components/BackHome.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { formattedDate } from '../components/FormattedDate';

const thinkMd = (await Astro.glob('./post/think/*.md')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
<head>
  <GlobalHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<Body>
  <Header title={SITE_TITLE} />
    <Content>
      <section>
      <main class="pt-[56px]">
          <ul class="list-none p-0">
            {
              thinkMd.map(postThink =>
                <li class="">
                  <div class="">
                    {formattedDate(postThink.frontmatter.pubDate)}
                    <a class="inline-flex items-center indent-5 " href={postThink.url}> {postThink.frontmatter.title} </a>
                  </div>
                </li>
              )
            }
          </ul>
      </main>
      </section>
    </Content>
  <BackHome />
  <Footer />
</Body>
</html>
