---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import Image from '@/components/Image.astro'
import { TagIcon } from '@heroicons/react/24/solid'
import FormattedDate from '@/components/FormattedDate.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import TagsLink from '@/components/TagsLink'
import Content from '@/components/Content.astro'
import Prose from '@/components/Prose.astro'
import BackoTopButton from '@/components/BackToTopButtom'
import TOC from '@/components/TOC-2.astro'
import { siteMeta } from '@/consts'

// type Props = CollectionEntry<'post'>['data']
type Props = {
  title: string
  description: string
  pubDate: string
  heroImageAlt: string
  heroImage: string
}

const { title, description, pubDate, heroImage, heroImageAlt, post } =
  Astro.props as { post: CollectionEntry<'post'>['data'] }
const allPosts = await getCollection('post')
const allTags = new Set<string>()

allPosts.map((post) => {
  post.data.tags && post.data.tags.map((tag: string) => allTags.add(tag))
})
const sortedTags = Array.from(allTags).sort((a, b) =>
  a.localeCompare(b, 'en', { sensitivity: 'base' }),
)

const { headings } = await post.render()

const topHeadings = headings.filter(
  (heading) => heading.depth <= 3 && heading.isTopContent,
)
---

<BaseLayout title={title + ` / ${siteMeta.title}`} description={description}>
  <Content className="pt-6 bg-white dark:bg-gray-950 rounded-md">
    <div class="mb-8 aspect-w-16 aspect-h-9">
      {
        heroImage && (
          <Image
            className="rounded-lg object-cover"
            width={720}
            height={360}
            src={heroImage}
            alt={heroImageAlt}
          />
        )
      }
    </div>
    <h1>
      <FormattedDate date={pubDate} />
    </h1>
    <h1 class="text-3xl my-1 font-mplus">{title}</h1>
    <div>{description}</div>
    <div class="flex flex-wrap items-center space-x-2 text-sm">
      <TagIcon className="h-5 w-5 text-gray-500" />
      <TagsLink tags={sortedTags} includeComma={true} />
    </div>

    <div class="border-2 border-gray-100">
      {
        headings && headings.length > 0 && (
          <nav class="article-toc">{<TOC headings={topHeadings} />}</nav>
        )
      }
    </div>

    <hr class="border-top border-gray-400 my-4" />
    <Prose>
      <slot />
    </Prose>
    <span
      class="p-1 underline underline-offset-2 hover:text-orange-500 decoration-orange-500 text-2xl list-disc"
    ></span>
    <BackoTopButton client:visible />
  </Content>
</BaseLayout>
