---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Content from '@/components/Content.astro'
import ArrowCard from '@/components/ArrowCard.astro'
import Link from '@/components/Link.astro'
import { allPosts } from '@/lib/utils'
import { siteMeta } from '@/consts'
import '@/styles/prism.css'

type Props = {
  tags?: string[] | undefined
  category: CollectionEntry<'blog'>
  date: string
}

type Acc = {
  [year: string]: CollectionEntry<'blog'>[]
}

// 从 Astro.props 中解构出 category
const { category } = Astro.props

// 筛选符合指定类别的文章
const categoryPosts = allPosts
  .filter((item) => item.data.tags && item.data.tags.includes(category))
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())

// 文章按年份分组，展示全部文章
const posts = categoryPosts.reduce((acc: Acc, post) => {
  const year = post.data.pubDate.getFullYear() // 提取年份

  if (!acc[year]) {
    acc[year] = []
  }
  acc[year].push(post)
  return acc
}, {})

const sortedTags = Object.entries(posts).sort(
  ([yearA], [yearB]) => Number(yearB) - Number(yearA),
) // 按年份排序
---

<BaseLayout
  title={`${category} / ${siteMeta.title}`}
  description={siteMeta.description}
  categoryLocation={category.slug}
>
  <Content>
    <section>
      <div class="space-y-10">
        <div class="space-y-4">
          {
            sortedTags.map(([year]) => (
              <section class="space-y-4">
                <Link
                  className="text-4xl md:text-6xl"
                  href={`/section/${year}`}
                >
                  {year}
                </Link>
                <div>
                  <ul class="flex flex-col gap-4">
                    {posts[year].map((post) => (
                      <li>
                        <ArrowCard entry={post} />
                      </li>
                    ))}
                  </ul>
                </div>
              </section>
            ))
          }
        </div>
      </div>
    </section>
  </Content>
</BaseLayout>
