---
import type { MarkdownHeading } from 'astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Content from '@/components/Content.astro'
import MarkdownHeader from '@/lib/MarkdownHeader'
import { siteMeta } from '@/consts'
import '@/styles/prism.css'

// type Props = CollectionEntry<'post'>['data']

type Props = {
  title: string
  description: string
  heroImage: string
  heroImageAlt: string
  headings: MarkdownHeading[]
}

const { title, description, headings } = Astro.props
---

<BaseLayout title={title + ` / ${siteMeta.title}`} description={description}>
  <Content className="markdown-body">
    <h1 class="text-4xl my-1 font-roto">
      {title}
    </h1>
    <div>
      {description}
    </div>
    <hr class="border-top border-gray-300 my-4" />

    <div class="border-top my-10"></div>
    <slot />
    <hr class="border-top border-gray-300 my-4" />
  </Content>

  <header class="fixed bottom-4 right-4">
    <MarkdownHeader client:load headings={headings} />
  </header>

  <style is:global>
    main article.markdown-body {
      ul {
        @apply list-disc list-inside pl-4 mb-4;
      }
      h1,
      h2,
      h3,
      h4,
      h5 {
        @apply font-bold font-roto text-gray-800 dark:text-gray-300 mb-6;
      }
      h1 {
        @apply text-3xl;
      }
      h2 {
        @apply text-2xl;
      }
      h3 {
        @apply text-xl;
      }
      h4 {
        @apply text-lg;
      }
      img {
        @apply border border-gray-300 dark:border-gray-700 rounded-xl mb-6;
      }
      p {
        @apply text-gray-700 dark:text-gray-300 mb-6;
      }
      a {
        @apply underline underline-offset-2 text-black dark:text-white font-semibold decoration-gray-300 dark:decoration-gray-700 hover:decoration-black hover:dark:decoration-white transition-all;
      }
      code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
      }
      .astro-code {
        @apply p-3 border-2 border-gray-500 rounded-xl mb-6;
      }
    }
  </style>
</BaseLayout>
